DATABASE_URL="file:./pgdata"
DIRECT_URL="file:./pgdata"

SESSION_SECRET="superpanel_jwt_secret_key_2026_xyz_987"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="nadeem07381@gmail.com"
SMTP_PASSWORD="xase gnrj hsdp itpb"
SMTP_FROM="SuperPanel <nadeem07381@gmail.com>"

FRONTEND_URL="http://localhost:3000"
